# Content List

1. Importing libraries: pandas, numpy, os.
2. Importing order_products__prior.csv as df_ords_prior with index_col set to False.
3. Importing orders_checked.csv as df_ords with index_col set to False.
4. Merging df_ords_prior and df_ords on 'order_id' with indicator set to True and saving as df_merged_large.
5. Saving df_merged_large as a pickle file named orders_products_combined.pkl.

## 1. Importing libraries: pandas, numpy, os.

In [1]:
#Importing Libraries 
import pandas as pd
import numpy as np
import os

## 2. Importing order_products__prior.csv as df_ords_prior with index_col set to False.

In [2]:
#importing data sets
df_ords_prior = pd.read_csv(r'C:\Users\Ankit\Documents\CareerFoundry\Achievement 4\Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

## 3. Importing orders_checked.csv as df_ords with index_col set to False.

In [3]:
#Importing Orders Dataset
df_ords = pd.read_csv(r'C:\Users\Ankit\Documents\CareerFoundry\Achievement 4\Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [4]:
#Checking the Output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
#Checking the Output
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [6]:
df_ords.shape

(3421083, 9)

In [7]:
df_ords_prior.shape

(32434489, 4)

## 4. Merging df_ords_prior and df_ords on 'order_id' with indicator set to True and saving as df_merged_large.

In [8]:
#Merging Data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [11]:
df_merged_large.shape

(32434489, 13)

## 5. Saving df_merged_large as a pickle file named orders_products_combined.pkl.

In [12]:
path = r'C:\Users\Ankit\Documents\CareerFoundry\Achievement 4\Instacart Basket Analysis'

In [ ]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))