# Content List

1. Importing necessary libraries
2. Importing customer data
3. Checking descriptive statistics and data types of customer data
4. Renaming columns in customer data
5. Changing data type of 'user_id' column from integer to string
6. Checking for missing values and duplicate values in customer data
7. Replacing missing values in 'First_name' column with 'unavailable'
8. Importing prepared data and merging with customer data based on 'user_id' column

## 1. Importing necessary libraries

In [1]:
#Importing 
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 2. Importing customer data

In [2]:
df_cust = pd.read_csv(r'C:\Users\Ankit\Documents\CareerFoundry\Achievement 4\Instacart Basket Analysis\02 Data\Original Data\customers.csv', index_col = False)

In [3]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
df_cust.shape

(206209, 10)

## 3. Checking descriptive statistics and data types of customer data

In [5]:
#checking descriptive statistics
df_cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [6]:
#checking data types
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

## 4. Renaming columns in customer data

In [7]:
#renaming columns to make them intuitive and consistent
df_cust.rename(columns = {'STATE' : 'State' , 'Surnam' : 'Last_Name', 'First Name' : 'First_name', 'date_joined' : 'Date_joined', 'n_dependants' : 'Dependants', 'fam_status' : 'Fam_status', 'income' : 'Income'}, inplace = True)

In [8]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      206209 non-null  int64
 1   First_name   194950 non-null  object
 2   Last_Name    206209 non-null  object
 3   Gender       206209 non-null  object
 4   State        206209 non-null  object
 5   Age          206209 non-null  int64
 6   Date_joined  206209 non-null  object
 7   Dependants   206209 non-null  int64
 8   Fam_status   206209 non-null  object
 9   Income       206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

## 5. Changing data type of 'user_id' column from integer to string

In [9]:
# change userid from int to string

df_cust['user_id'] = df_cust['user_id'].astype('str')

## 6. Checking for missing values and duplicate values in customer data

In [10]:
df_cust['State'].value_counts(dropna = False)

Florida                 4044
Colorado                4044
Illinois                4044
Alabama                 4044
District of Columbia    4044
Hawaii                  4044
Arizona                 4044
Connecticut             4044
California              4044
Indiana                 4044
Arkansas                4044
Alaska                  4044
Delaware                4044
Iowa                    4044
Idaho                   4044
Georgia                 4044
Wyoming                 4043
Mississippi             4043
Oklahoma                4043
Utah                    4043
New Hampshire           4043
Kentucky                4043
Maryland                4043
Rhode Island            4043
Massachusetts           4043
Michigan                4043
New Jersey              4043
Kansas                  4043
South Dakota            4043
Minnesota               4043
Tennessee               4043
New York                4043
Washington              4043
Louisiana               4043
Montana                 4043
North Dakota            4043
Wisconsin               4043
Nebraska                4043
Vermont                 4043
Nevada                  4043
Maine                   4043
North Carolina          4043
West Virginia           4043
Virginia                4043
Oregon                  4043
New Mexico              4043
Texas                   4043
Pennsylvania            4043
Ohio                    4043
South Carolina          4043
Missouri                4043
Name: State, dtype: int64

In [11]:
df_cust['user_id'].value_counts(dropna = False).sort_index

<bound method Series.sort_index of 26711     1
67322     1
173044    1
61044     1
98344     1
         ..
146847    1
154991    1
172193    1
184326    1
80148     1
Name: user_id, Length: 206209, dtype: int64>

In [12]:
# get value count for each unique value in 'user_id' column
value_counts = df_cust['user_id'].value_counts().sort_values(ascending=False)

In [13]:
#seeing if user_id is indeed unique 
value_counts

26711     1
26441     1
57549     1
55567     1
65803     1
         ..
157533    1
122741    1
168073    1
49635     1
80148     1
Name: user_id, Length: 206209, dtype: int64

In [14]:
# count missing values in each column
print(df_cust.isnull().sum())

user_id            0
First_name     11259
Last_Name          0
Gender             0
State              0
Age                0
Date_joined        0
Dependants         0
Fam_status         0
Income             0
dtype: int64

In [15]:
# check data types of each column
print(df_cust.dtypes)

user_id        object
First_name     object
Last_Name      object
Gender         object
State          object
Age             int64
Date_joined    object
Dependants      int64
Fam_status     object
Income          int64
dtype: object

In [16]:
# check for mixed data types in each column
for col in df_cust.columns:
    weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_cust[weird]) > 0:
        print (col)

First_name

In [17]:
df_cust['First_name'].value_counts()

Marilyn    2213
Barbara    2154
Todd       2113
Jeremy     2104
Cynthia    1951
           ...
Merry       197
Eugene      197
Garry       191
Ned         186
David       186
Name: First_name, Length: 207, dtype: int64

In [18]:
# assign First Name as string

df_cust['First_name'] = df_cust['First_name'].astype('str')

In [19]:
#I know based on checking the user_id that there aren't any duplicates so I'll check for full duplicates
# check for duplicate rows based on all columns
duplicate_rows = df_cust[df_cust.duplicated()]

In [20]:
duplicate_rows

Empty DataFrame
Columns: [user_id, First_name, Last_Name, Gender, State, Age, Date_joined, Dependants, Fam_status, Income]
Index: []

In [21]:
#no duplicates

## 7. Replacing missing values in 'First_name' column with 'unavailable'

In [22]:
# replace missing values in 'First_name' column with 'unavailable'
df_cust['First_name'].fillna('unavailable', inplace=True)

In [23]:
# check for mixed data types in each column
for col in df_cust.columns:
    weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_cust[weird]) > 0:
        print (col)

In [24]:
# count missing values in each column
print(df_cust.isnull().sum())

user_id        0
First_name     0
Last_Name      0
Gender         0
State          0
Age            0
Date_joined    0
Dependants     0
Fam_status     0
Income         0
dtype: int64

## 8. Importing prepared data and merging with customer data based on 'user_id' column

In [25]:
path = path = r'C:\Users\Ankit\Documents\CareerFoundry\Achievement 4\Instacart Basket Analysis'

In [26]:
#Importing Prepared data
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged.pkl'))

In [27]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_of_customer_spending,spending_flag,prior_order_median,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,both,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,both,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,both,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,both,Regularly busy,Least busy days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,both,Least busy,Least busy days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [28]:
# make sure that the user_id in our dataframe is also a string

df_merged['user_id'] = df_merged['user_id'].astype('str')

In [29]:
# merged the data sets on user id

df_combined = df_merged.merge(df_cust, on = 'user_id', indicator = 'True')

MemoryError: Unable to allocate 2.41 GiB for an array with shape (10, 32404859) and data type int64

In [ ]:
df_combined.head()

In [ ]:
df_combined.to_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'customer_merged.pkl'))